{% extends 'urlShortener/base.html' %}

{% block title %}
	Home
{% endblock %}

{% block content %}
	<div class="home">
		<h1 style="text-align: center">Welcome to the my URLShortener</h1>
		<p>
			Simplify Your URLs

			Convert long web addresses into short, manageable links. Perfect for sharing on social media, emails, and more.


			Fast and Easy: Shorten URLs in seconds.

			Secure: Safe and reliable.

			Get Started

			Click Sign up on the top right, or login if you already have an accoutn
		</p>
	</div>
{% endblock %}